body {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fscience.howstuffworks.com%2F8-mind-bending-facts-about-outer-space.htm&psig=AOvVaw3eBGIOoyrwtrmQATRgOxwA&ust=1740083243668000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCJjngbLJ0IsDFQAAAAAdAAAAABAE');
    background-size: cover;
    background-position: center;
    color: yellow;
    font-family: Arial, sans-serif;
    text-align: center;
}
header, section, footer {
    padding: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}
